.info-block {
  margin: 40px auto 0;
  width: clamp(360px, 100%, 1280px);
  display: grid;
  grid-template-columns: 300px 300px;
  gap: 28px;
}

.cat {
  width: 200px;
}

.list__item {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.item {
  display: grid;
  gap: 12px;

  img {
    width: 100%;
  }
}
