<div class="wrapper">
  <div class="wrap">
    <app-movie-card
      [data]="movies"
      (addFavorite)="handleAddFavorite($event)"
      (addWatchList)="handleAddWatchList($event)"
    ></app-movie-card>

    <div class="info-block">
      <div class="list" >
        Улюблене:
        <div class="list__item">
          @defer (when favoriteList.length) {
            @for(movie of favoriteList; track movie.id) {
              <mat-card class="item" appearance="outlined">
                <img mat-card-image src="https://image.tmdb.org/t/p/w500/{{movie.backdrop_path}}">
                <mat-card-title class="movie-name">{{movie.title}}</mat-card-title>
              </mat-card>
            }
          }
          @placeholder {
            <img src="assets/images/cat_cry.jpg" alt="cat_cry" class="cat">
            <div class="list__empty">Зараз тут пусто!</div>
          }
        </div>
      </div>
      <div class="list" >
        Подивитися:
        <div class="list__item">
          @defer (when watchList.length) {
            @for (movie of watchList; track movie.id) {
              <mat-card class="item" appearance="outlined">
                <img mat-card-image src="https://image.tmdb.org/t/p/w500/{{movie.backdrop_path}}">
                <mat-card-title class="movie-name">{{movie.title}}</mat-card-title>
              </mat-card>
            }
          }
          @placeholder {
            <img src="assets/images/cat_cry.jpg" alt="cat_cry" class="cat">
            <div class="list__empty">Зараз тут пусто!</div>
          }
        </div>
      </div>
    </div>
  </div>
</div>


