<div class="my-list">
  @defer (when movieList.length) {
    <div class="card-list">
      @for ( movie of movieList; track movie.id) {
        <div class="card-item">
          <img src="https://image.tmdb.org/t/p/w500/{{movie.backdrop_path}}"  alt="{{movie.title}}" class="card-item__image">
          <p class="card-item__title">{{movie.title}}</p>
          <button class="card-item__details" type="button" (click)="goToChild(movie?.id)">details <span class="pi pi-arrow-right"></span></button>
        </div>
      }
    </div>
  } @placeholder {
    <p>Ви ще нічого не додали нічого до цього списку</p>
  }
</div>
