.card-list {
  display: grid;
  padding: 20px;
  margin: 0 auto;
  max-width: 1280px;
  grid-template-columns: repeat(4, 1fr);
  gap: 8px;

  .card-item {
    position: relative;

    &__image {
      width: 100%;
    }
  }
}

.my-list {
  text-align: center;
}
