<div class="card-wrap">
  @for ( card of movies; track card.id) {

    <p-card header="{{card.title}}" subheader="{{card.overview}}" class="card-movie">
      <ng-template pTemplate="header">
        <div class="card-image-block">
          <div
            class="card-movie__watch"
            (click)="addToWatchList(card.id, $event)"
          >
            <span class="pi pi-eye"></span>
          </div>
          <div
            class="card-movie__favorite"
            (click)="addToFavorites(card.id)"
          >
            <span class="pi pi-heart"></span>
          </div>
          <img alt="Card" src="https://image.tmdb.org/t/p/w500/{{card.backdrop_path}}" class="card-movie__img"/>
          <div class="card-movie__rate">{{card.vote_average}}</div>
        </div>
      </ng-template>
      <div class="card-movie__details">
        <div class="card-movie__data">Дата виходу: {{card.release_date}}</div>
        <a [attr.href]="card.trailer" target="_blank" class="card-movie__trailer">Переглянути трейлер фільму</a>
        <div class="card-movie__time">Тривалість фільму: {{ card.duration | timeFormat}}</div>
      </div>
    </p-card>
  }

</div>


