.card-wrap {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 300px));
  justify-content: center;
  margin: 0 auto;
  max-width: 1280px;
  gap: 20px;
  padding-top: 60px;
}

.card-movie {
  display: flex;
  flex-direction: column;
  position: relative;
  gap: 12px;
  padding: 8px;
  border-radius: 12px;
  box-shadow: 0 3px 13px 0 rgba(0,0,0,0.75);
  //background-image: linear-gradient(180deg, #c180e3, #33044f);

  &__watch,
  &__favorite {
    position: absolute;
    width: 20px;
    top: 16px;
    height: 20px;
    cursor: pointer;
    background-color: greenyellow;
    padding: 4px;
    display: flex;
    align-items: center;
    justify-content: center;

    svg {
      width: 14px;
      height: 14px;
      display: block;
    }
  }

  &__watch {
    left: 16px;
  }

  &__favorite {
    right: 16px;
  }

  .card-image-block {
    position: relative;
  }

  &__img {
    aspect-ratio: 6 / 9;
    object-fit: cover;
    min-width: 284px;
  }

  &__name {
    color: white;
    text-align: center;
  }

  &__rate {
    position: absolute;
    bottom: 16px;
    right: 16px;
    padding: 4px;
    background-color: greenyellow;
    color: black;
    width: fit-content;
    display: flex;
    align-items: center;
    gap: 8px;

    &:before {
      display: block;
      content: '';
      background-image: url("/assets/images/star-regular.svg");
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      width: 12px;
      height: 12px;
    }
  }

  &__desc {
    color: black;
  }

  &__details {
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    gap: 8px;
    color: black;
  }

  &__trailer {
    color: orange;
    text-decoration: underline;
  }
}

.p-card {
  box-shadow: none;
  display: flex;
  align-items: center;
  height: 100%;
  flex-direction: column;
}

.p-card-body {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 12px;
  height: 100%;
  padding-top: 20px;
}

.p-card-content {
  width: 100%;
  margin-top: auto;
}

